<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/thais.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Thaís Moura</h3>
      </div>

      <div class="text-center">Junior Software Engineer - backend developer</div>
      <div class="text-center">
        <a href="Junior Software Engineer - backend developer"></a>
      </div>
    </div>
  </div>
</div>
